body
  font-family monospace
body, .controls, .control, .clips
  display flex
  flex-wrap wrap
body
  justify-content space-between
  background #333
  color #fefefe
canvas, .control
  width 100%
  flex-direction column
.controls
  width 60%
  flex-direction column
.clips
  width 39%
  flex-direction column
.rec
  position absolute
  top 1rem
  left 1rem
  width 1rem
  height 1rem
  border-radius 50%
  color white
  background-color red
  opacity 0
  transition opacity 0.2s
  &.recording
    opacity 1
.reduction
  position absolute
  background green
  height 0.2rem
h3
  margin 0.5rem 0
  display flex
  justify-content space-between
  align-items center